/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,600;9..40,700&display=swap");
/* google fonts */

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg{
  background-image: url("../src/assets/cover.jpg");
  background-position: center;
  background-size: cover;
}

body {
  font-family: "DM Sans", sans-serif;
}

.banner {
  background: url("https://i.ibb.co/Nn6wdtH/cover-image.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the last value (0.5) for the desired opacity */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 24px;
}
