@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  background: url("https://i.ibb.co/Nn6wdtH/cover-image.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the last value (0.5) for the desired opacity */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; 
  text-align: center;
  font-size: 24px; 
}

